{% load static %}
<!DOCTYPE html>
<html lang="ja">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    <title>Slack Sample Application</title>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">
        Slack Sample Application
      </a>
    </nav>

    <div class="container">
      <div class="jumbotron">
        <h1>How are you?</h1>
        <form action="{% url 'announce' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="message">Send a test message to Slack.</label>
            <textarea id="message" name="message" class="form-control" rows="3"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>

      <div class="jumbotron">
        <h1>Register your student ID and Twitter!</h1>
        <form action="{% url 'twi' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <label for="message">Student ID</label>
            <input id="userid" name="userid" class="form-control" type="text">
            <label for="message">Twitter ID</label>
            <input id="twitterid" name="twitterid" class="form-control" type="text">
          </div>
          <div class="form-group">
            <button type="submit" onclick="return check()" class="btn btn-primary">Send</button>
          </div>
        </form>
      </div>

      <form action="{% url 'delay' %}" method="post">
        {% csrf_token %}
        <label for="delaymesse">Send a delay message to classmates and teacher.</label>
        <div id="delay">
          <input type = "text" id = "delaymesse" name = "delaymesse" class = " form-control ">
          <button type="submit" class="btn btn-dark">遅刻通知</button>
        </div>
      </form>
      <br>
      <br>

      <a class="btn btn-danger" href="{% url 'clear' %}">Reset</a>
      
      <div class="card mt-3">
        <h3 class="card-header">
          Dogs 🐕
        </h3>
        <div class="card-body">
          {% for reply in dog_replies %}
          <p> {{reply.user_name}} </p>
          {% endfor %}
        </div>
      </div>
      <div class="card mt-3">
        <h3 class="card-header">
          Cats 🐈
        </h3>
        <div class="card-body">
          {% for reply in cat_replies %}
          <p> {{reply.user_name}} </p>
          {% endfor %}
        </div>
      </div>
      <div class="card mt-3">
        <h3 class="card-header">
          Rabbit 🐇
        </h3>
        <div class="card-body">
          {% for reply in rabbit_replies %}
          <p> {{reply.user_name}} </p>
          {% endfor %}
        </div>
      </div>
    <form action="{% url 'motive' %}" method="post">
      {% csrf_token %}
      <div class="motive">
        <label for="motive"></label>
      </div>
      <div class="motive">
        <button type="submit" class="btn btn-danger">やる気スイッチ</button>
      </div>
    </form>
    <br>
    <form action="{% url 'shinjirou' %}" method="post">
      {% csrf_token %}
      <label for="shinjirou">進次郎を作成しますか？</label>
      <div>
        <input type = "text" name = "shinjirou" class = " form-control ">
        <button type="submit" class="btn btn-dark">進次郎作成</button>
      </div>
    </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
      integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous">
    </script>
    <script src="{% static 'js/twi.js' %}"></script>
  </body>

</html>